fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
asyncpg
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
PyJWT
passlib[bcrypt]
pwdlib[argon2]
python-dotenv
redis
langgraph
langchain
langchain-core
alembic
apscheduler
sse-starlette
langchain-google-genai
fastapi-mail
aio-pika
